.schedule {
  min-height: 85vh;
  padding: 3rem 0;
  background: #eee;
}

.schedule-container {
  overflow-x: auto;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
  overflow:hidden;
  -webkit-border-radius: .7rem;
     -moz-border-radius: .7rem;
          border-radius: .7rem;
  margin-top: 1.5rem;
  text-align: center;
  color: #fff;
}

.schedule-table th, .schedule-table td {
  padding: 1rem 0;
}

.schedule-table th {
  background: var(--primary-color);
}

.schedule-table tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.7);
}

.schedule-table tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.6);
}

.input-form {
  padding: .5rem;
  border-radius: .3rem;
  border: 1px solid var(--primary-color);
  margin-top: .3rem;
  margin-bottom: .5rem;
  background-color: #eee;
}

.input-form:focus {
  outline: none;
  border-bottom: 2px solid var(--primary-color);
}

.schedule-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-user {
  background-color: white;
  margin: 1.5rem 0;
  padding: 2rem 0;
  border: 3px solid black;
  border-radius: 1rem;
}

.form-new-user {
  text-align: center;
}