.image-barber {
  max-width: 450px;
}

.error-messages {
  display: none;
  color: #fff;
  background-color: rgba(137, 0, 0, .5);
  border-radius: 1rem;
  text-align: center;
  padding: 4px;
  margin: 4px 0px;
} 

.login {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.login-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-form {
  padding: .5rem;
  border-radius: .3rem;
  border: 1px solid var(--primary-color);
  margin-top: .3rem;
  margin-bottom: .5rem;
}

.input-form:focus {
  outline: none;
  border-bottom: 2px solid var(--primary-color);
}

@media (max-width: 450px) {
  .login {
    grid-template-columns: 1fr;
  }
}