nav {
  background-color: #333333;
}

.navigation {
  display: flex;
  justify-content: space-between;
  /* padding: 1.5rem 0; */
}

.nav-logo {
  width: 90px;
}

.nav-logo img {
  width: 90px;
  position: absolute;
  top: 5px;
}

.nav-menu {}

.box-menu {
  display: flex;
  list-style-type: none;
}

.menu-item:not(:nth-child(1)) {
  margin-left: 1rem;
}

.menu-item {
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  padding: 1.5rem;
  border-bottom: 2px solid transparent;
}

.menu-item:hover {
  border-bottom: 2px solid var(--primary-color);
}

.menu-item a {
  text-decoration: none;
  color: #fff;
}

.navigation > .btn-box {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}