.navbar {
  background-color: var(--bg-dark);
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  width: 90px;
}

.nav-logo img {
  width: 90px;
  position: absolute;
  top: 5px;
}

.box-menu {
  display: flex;
  list-style-type: none;
}

.menu-item:not(:nth-child(1)) {
  margin-left: 1rem;
}

.menu-item {
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  /* padding: 1.5rem; */
  border-bottom: 2px solid transparent;
}

.menu-item:hover {
  background-color: rgb(90, 90, 90);
  border-bottom: 2px solid var(--primary-color);
}

.menu-item a {
  text-decoration: none;
  color: #fff;
}

.menu-item-link {
  display: block;
  padding: 1.5rem;
}

.navigation > .btn-box {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* MENU MOBILE */
.nav-menu-mobile {
  display: none;
}

.menu-mobile {
  display: none;
}

.menu-mobile-overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .6);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 80;
}

.menu-mobile-list {
  position: fixed;
  z-index: 99;
  right: 0px;
  top: 0px;
  width: 180px;
  height: 100vh;
  background: #ccc;
}

.menu-mobile-item {
  text-transform: uppercase;
  list-style-type: none;
}

.menu-mobile-item:hover {
  border-left: 3px solid var(--primary-color);
}

.menu-mobile-item-link {
  padding: 1.5rem 1rem;
  display: block;
  color: #000;
  text-decoration: none;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .btn-box {
    display: none;
  }

  .nav-menu {
    display: none;
  }

  .nav-menu-mobile {
    display: block;
    padding: 1.5rem;
    cursor: pointer;
  }
}